* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background: linear-gradient(to right, #f12711, #f5af19);
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
  }