* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator-container {
  display: flex;
  background-color: #4d4343e1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 470px;
  height: auto;
  margin: 150px auto;
  border-radius: 20px;
  padding: 10px;
  box-shadow:
    rgba(14, 30, 37, 0.12) 0px 2px 4px 0px,
    rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

.display {
  display: flex;
  width: 89%;
  height: 100px;
  color: white;
  font-size: 70px;
  text-align: left;
  padding-top: 20px;
  word-wrap: break-word;
}

.buttons-container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.button {
  border: none;
  color: white;
  padding: 28px 30px;
  width: 22%;
  margin: 1px 1px;
  font-size: 30px;
  background-color: darkgray;
}

.btn-zero {
  padding: 30px 180px 26px 20px;
  background-color: #8f8c8c;
}

.orange {
  background-color: orange;
}

.light {
  background-color: #8f8c8c;

}
.dark {
  background-color: grey;
}

.app-container-light {
  background-color:aquamarine;
  margin: 20px auto;
  width: 470px;
  justify-content: center;
}

.app-container-dark {
  background-color: black;
}
